*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@media only screen and (max-width:800px){
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: none;
}
#skip1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.ion{
   
    margin-top: 15%;
}
.arrow{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

/*---------location--------*/
.btn-primary{
    width: 90%;
    margin-top: 8%;
    
}
/*---------login--------*/

#login{
    text-align: center;
margin-top: 20%;
}
#login h2{
    color: rgba(17, 17, 205, 0.784);
}
.form input{
    width: 90%;
    height: 2.5em;
    padding: 10px 30px;
    border-radius: 10px;
}
.form{
    margin-top: 10%;
}
.form h6{
    margin-left: 50%;
}
.form h6:hover{
    color: blue;
}

.form h5{
    font-size: 15px;
}
.form .btn-primary{
    margin-top: 60%;
}
.form b{
    color: blue;
}
/*---------login--------*/
#signup{
    text-align: center;
margin-top: 20%;
}
#signup h2{
    color: rgba(17, 17, 205, 0.784);
}
.form input{
    width: 90%;
    height: 2.5em;
    padding: 10px 30px;
    border-radius: 10px;
}
.form{
    margin-top: 10%;
}
.form .btn-primary{
    margin-top: 40%;
}
.form b{
    color: blue;
}




/* ------------------------verify otp start ------------------------*/
#verify{
    text-align: center;
    padding-top: 3em;
}
h2{
    color: rgb(75, 198, 239);
}
.otp{
    min-height: 70vh;

}
.box{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.box-item{
    align-items: center;
    height: 50%;
    padding-top: 1.5%;
    width: 20%;
    padding: 6% ;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid black;
}
.otp p{
text-align: left;
margin-left: 5%;
}
.btn{
margin:0px 15px 0px 15px;
}
.btn p{
text-align: left;
padding: 20px 5px;
}
#verify-otp{
text-align: center;
padding-top: 3em;
}
#verify-otp .box-item{
align-items: center;
height: 50%;
padding-top: 1.5%;
width: 20%;
padding: 3% ;
font-size: 20px;
border-radius: 10px;
border: 2px solid black;
}
/* ------------------------verify otp end ------------------------*/
/* ------------------------home start ------------------------*/
#home{
min-height: 80vh;
padding: 3%;
margin-bottom: 60px;
scroll-behavior: smooth;
}
h2{
color: rgb(75, 198, 239);
}
.guest{
align-items: center;
justify-content: space-between;
display: flex;
}
.guest i{
font-size: 18px;
}
.vz{
display: flex;
align-items: center;
gap: 1%;
}
.sc{
display: flex;
align-items: center;
}
.sc i{
padding-left: 2%;
}
.sc input{
margin-left: -25px;
padding: 1.5%;
background: transparent;
width: 100%;
border: 1px solid black;
border-radius: 10px;
}
.seeall{
display: flex;
justify-content: space-between;
}
.see-btn{
display: flex;
gap: 5px;
}
.see-btn button{
padding: 4px;
background-color: rgb(75, 198, 239);
width: 25%;
height: 30px;
border-radius: 8px;
font-size: 15px;
color: white;
border: none;
}
.s{
text-align: center;
line-height: 13px;
}
.s p{
font-size: 13px;
}

.mss{
align-items: center;
display: flex;
height: 30px;
justify-content: space-between;
}
.mss p{
margin-top: 5px;
font-size: 15px;
width: fit-content;
}
.films{
width: 100%;
overflow-x: scroll;
scroll-snap-type: x mandatory;
display: flex;
gap: 5px;
}
.films img{
scroll-snap-align: center;
border-radius: 15px;
}
/* ------------------------home end ------------------------*/
/* ------------------------footer start ------------------------*/


#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;  
  justify-content: space-between;
    display: flex;
    line-height: 15px;
}
.foot{
    width: 100%;
    padding: 3%;

    background-color: rgb(75, 198, 239);
    text-align: center;
}
 .foot:hover{
    margin-top: -7.5%;
    padding-top: 6%;
    border-radius: 42% 42% 0 0 ;

 }
/* ------------------------footer end ------------------------*/



/*---------------------movies start ----------------*/
#movies{
    padding: 2% 3%;
    margin-bottom: 12%;
}
.guest{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.guest i{
    font-size: 18px;
}
.vz{
    display: flex;
    margin-top: -4%;
    align-items: center;
    gap: 1%;
}
select{
    padding: 2%;
    background-color: rgb(75, 198, 239);
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 50px;
}
.language{
    margin-top: 1%;
    display: flex;
    gap: 1.5%;
}
.language button{
    background-color: rgb(75, 198, 239);
    border: none;
    color: white;
    border-radius: 50px;
    padding: 1%;
    width: 18%;
    font-size: 15px;
}
.mi{
    margin-top: -2%;
    justify-content: space-between;
    display: flex;
    font-size: 13px;
}
.de{
    text-align: center;
}
.de img{
    border-radius: 20px;
}
.votes{
    display: flex;
    height: 10%;
}
.votes i{
    margin-top: 2%;
}/*---------------------movies end----------------*/
/*---------------------payment start -----------------*/
#payment{
    padding: 2% 3%;
    margin-bottom: 16%;
}
.guest{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.guest i{
    font-size: 18px;
}
.vz{
    display: flex;
    margin-top: -4%;
    align-items: center;
    gap: 1%;
} 
.inse i{
    position: absolute;
    padding: 2%;
}
.inse input{
    height: 35px;
    align-items: center;
padding-left: 7.5%;
padding-bottom: 2%;
width: 100%;
border: 1px solid black;
border-radius: 10px;
}
.tm{
    margin-top: 3%;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: 33px;
    justify-content: space-around;

}

p{ text-align: center;
    width: 100%;
    height: 31px;
    padding-top: 1%;
}
.active{
    border-radius: 9px 0 0 9px;
    border-right: 2px solid black;
    background-color: rgb(75, 198, 239);
    color: white;
}
.theaters{
    border: 1px solid black;
    margin-top: 3%;
    border-radius: 10px;
    padding: 1% 2%;
}
.about-theater{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fav-name{
    font-size: 15px;
    width: 100%;
    display: flex;
}
.hall-name{
    font-size: 12px;
}
.hall-name p{
    margin-top: -5%;
    text-align: left;
    line-height: 13px;
}
.see-more{
    text-align: center;
    font-size: 13px;  
}
.star{
    margin-top: -1.8%;
    display: flex;
    height: 10px;
}
.star i{
    margin-top: -3%;
}
.see-more i{
    position: absolute;
    margin-top: -25px;
}
.pay{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*---------------------payment end -----------------*/
/*---------------------experience start -----------------*/
#experience{
    padding: 2% 3%;
}
.guest{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.guest i{
    font-size: 18px;
}
.vz{
    display: flex;
    margin-top: -4%;
    align-items: center;
    gap: 1%;
} 
.inse i{
    position: absolute;
    padding: 2%;
}
.inse input{
    height: 35px;
    align-items: center;
padding-left: 7.5%;
padding-bottom: 2%;
width: 100%;
border: 1px solid black;
border-radius: 10px;
}
.heading{
    display: flex;
    margin-top: -1%;
   align-items: center;
   justify-content: space-between;
}
.heading p{
    width: fit-content;
    text-align: right;
    font-size: 15px;
}
.show{
    display: flex;
    gap: 1%;
    overflow-x: scroll;
    margin-top: -2%;
}
.show img{
    border-radius: 10px;
}
.dot{
    text-align: center;
    margin-top: -2%;
}
.dot i{
    font-size: 7px;
    color: rgba(128, 128, 128, 0.695);
}
#dot{
    color: black;
}

/*---------------------experience end -----------------*/

/* ----------------about movie start ---------------------*/

#about-movie{
    padding: 2% 3%;
  
}
.rate{
    display: flex;
    line-height: 7px;
    align-items: center;
    justify-content: space-between;
}
.mname {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pera{
margin-top: .5%;
height: 60px;
    font-size: 12px;
}
.sl{
    margin-top: -7%;
}
.icon{
    height: 15px;
    gap: 1%;
    width: 50%;
    margin-top: 3px;
    display: flex;    
}
.rate button{
    margin-top: -5%;
    padding: 5px;
    border-radius: 50px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    width: 20%;
    height: 10%;
}
.lang{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.twod{
    display: flex;
}
.twod button{
    margin-right: 5px;
    width: 40px;
    background-color: rgb(75, 198, 239);
   border: none;
    padding: 0;
    border-radius: 50px;
}
.reviews{
    display: flex;
}
.reviews input{
    margin-top: 2%;
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
.reviews p{
    margin-left: 64%;
    width: fit-content;
    margin-top: 2.5%;
    position: absolute;
    font-size: 15px;
}
.actors{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: -1.5%;
}
.actors p{
    font-size: 13px;
}
.actors img{
    border-radius: 50%;
}
.bt button{
    background-color: rgb(75, 198, 239);
    border: none;
    margin-top: -1.5%;
    border-radius: 50px;
    font-size: 20px;
    padding: 1%;
    width: 100%;
}
/* ----------------about movie end ---------------------*/

/*------------------day-time start-------------*/

.movie-name{
    margin-top: 2%;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.mname {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dates{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    box-shadow: 0px 3px 4px 0px rgb(39, 117, 144) ;
}
.dates .days{
    scroll-snap-align: center;
}
.days{
    border-right: 1px solid black;
    width: 15%;
    padding: 3%;
    line-height: 98%;
}
.days:hover{
    background-color: rgb(75, 198, 239);
}
.money{
    display: flex;
    margin-top: 2%;
    padding: 2%;
    gap: 2%;
}
.money button{
    margin-right: 5px;
    width: 22%;
    color: rgb(75, 198, 239);
    background-color: transparent;
   border: 1px solid black;
    padding: 0%;
    font-size: 80%;
    border-radius: 50px;

}
.time-theater{
    padding: 0% 4%;
    margin: 1%;
}
.th-ic-name{
    display: flex;
    height: 35px;
    padding: 1%;
    justify-content: space-between;
}
.th-ic{
    display: flex;
    align-items: center;
}
.info{
    display: flex;
    gap: 5%;
}
.info i{

    font-size: 80%;
    padding-top: 10%;
}
.info p{
    font-size: 12px;
}
.show-time{

    display: flex;
    flex-wrap: wrap;
}
.show-time button{
    margin-top: 1%;
    margin-right: 5px;
    width: 25%;
    color: lightgreen;
    background-color: transparent;
   border: 1.5px solid black;
    padding: 1%;
    font-size: 80%;
}
/*------------------day-time start-------------*/
/*----------------- how many seats start----------------=---*/

.mname {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2% 3%;
}
.hms{
    min-height: 83vh;
    text-align: center;
}
.hms h3{
    padding-top: 20%;
}
.seats-number{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

}
.seats-num{
    margin-top: 3%;
    border: 1px solid black;
    padding: 3% 5.5%;
    border-radius: 50%;
    font-weight: 600;
}
.seats-num:hover{
    color: white;
    background-color: rgb(75, 198, 239);
}
.dash{
    margin-top: 3%;
    display: flex;
    padding: 0;
    gap: 5%;
}
.dash div{
    height: 1px;
    width: 25%;
    border: .5px solid black;
}
.seats-type{
    display: flex;
    gap: 2%;
    padding: 30% 5%;
}
.seats-type button{
    margin-right: 5px;
    color: black;
    padding: .2%;
    background-color: transparent;
   border: 1.5px solid black;
    font-size: 90%;
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
}
.select-seat-btn{
    padding: 2%;
}
.select-seat-btn button{
    margin-right: 5px;
    color: white;
    padding: 2%;
    background-color: rgb(75, 198, 239);
    font-size: 90%;
    font-weight: 600;
    border-radius: 20px;
    width: 100%;
}
/*----------------- how many seats end----------------=---*/

/*----------------- how many seats start----------------=---*/

.mname {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2% 3%;
}
.hms{
    min-height: 83vh;
    text-align: center;
}
.hms h3{
    padding-top: 20%;
}
.seats-number{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

}
.seats-num{
    margin-top: 3%;
    border: 1px solid black;
    padding: 3% 5.5%;
    border-radius: 50%;
    font-weight: 600;
}
.seats-num:hover{
    color: white;
    background-color: rgb(75, 198, 239);
}
.dash{
    margin-top: 3%;
    display: flex;
    padding: 0;
    gap: 5%;
}
.dash div{
    height: 1px;
    width: 25%;
    border: .5px solid black;
}
.seats-type{
    display: flex;
    gap: 2%;
    padding: 30% 5%;
}
.seats-type button{
    margin-right: 5px;
    color: black;
    padding: .2%;
    background-color: transparent;
   border: 1.5px solid black;
    font-size: 90%;
    font-weight: 600;
    border-radius: 10px;
}
.select-seat-btn{
    padding: 2%;
}
.select-seat-btn button{
    margin-right: 5px;
    color: white;
    padding: 2%;
    background-color: rgb(75, 198, 239);
    font-size: 90%;
    font-weight: 600;
    border-radius: 20px;
}
/*----------------- how many seats end----------------=---*/
/*--------------sitting seats start-------------------*/

.mname{
    align-items: center;
    gap: 10px;
    display: flex;
}
.smt{
    height: 50px;
    line-height: 5%;
}
.smt p{
    text-align: left;
}
.date-showtime{
    margin-top: -3%;
    padding: 1%;
    line-height: 5%;
    background-color: rgba(128, 128, 128, 0.695);
}
.date-showtime p{
    font-size: 13px;
    text-align: left;
}

.time-btn{
    margin-top: -8%;
    margin-left: 3%;
    display: flex;
    gap: 1%;

}
.time-btn button{
    width: fit-content;
    height: 2em;
    padding: 1%;
    font-size: 14px;
    background-color: white;
    color: rgb(8, 201, 27);
    border-radius: 10px;
}
.time-btn button:hover{
    color: white;
    background-color: rgb(8, 201, 27);
}
.sofa p{
    padding-left: 2%;
    text-align: left;
    font-size: 15px;
}
.seats-name{
    margin-top: -5.5%;
    align-items: center;
    display: flex;
    gap: 1.2%;
}
.seats-name p{
    padding-left: 1%;
    font-size: 15px;
    width: 4.5%;
}
.sitting{
    margin-top: -3%;
    padding: 3%;
    width: 5%;
    border-radius: 15%;
    background-color: white;
    border: 1px solid green;
}
.sitting:hover{
    background-color: rgb(75, 198, 239);

}
.screen{
    height: 30px;
    margin: 6%;
    border-radius: 50% 50% 0% 0%;
    margin-top: -2%;
    background-color: rgba(128, 128, 128, 0.459);
}
.footer{
    bottom: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-around;
}
.choice{
    padding: 1%;
    font-size: 13px;
}
#cash{
    position: absolute;
    width: 100%;
    height: 7%;
    border-radius: 25px;
    background-color: red;
    margin-top: -2%;

}
/*--------------sitting seats end-------------------*/


/*--------------contact dtails start-------------------*/
#contact-details{
    padding: 2%;
}
.details{
    min-height: 85vh;
}
.mname{
    align-items: center;
    gap: 10px;
    display: flex;
}
#contact-details input{
    width: 100%;
    height: 2.5em;
    padding: 1%;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.647);
    border-radius: 10px;
}
.terms{
    display: flex;
    margin-top: 6%;
    gap: 2%;
    
}
.terms p{
    width: fit-content;
    font-size: 15px;
}
.terms i{
    padding-top: 2.3%;
    font-size: 13px;
}
.update-btn button{
    color: white;
    width: 100%;
    padding: 3%;
    background-color: rgb(75, 198, 239);
    font-size: 90%;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
/*--------------contact dtails end-------------------*/

/*--------------snacks start-------------------*/
#snacks{
    padding: 2% 3%;
}
.cys{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mname{
    align-items: center;
    gap: 10px;
    display: flex;
}
.skip2 p{
    font-size: 13px;
    padding-top: 50%;
    width: fit-content;
}
.snaks-bttn{
    display: flex;
    gap: 2%;
    padding: 2% 0 2% 0;
    overflow-x: auto;
}
.snaks-bttn::-webkit-scrollbar{
    display: none;
}
.snaks-bttn button{
    background-color: white;
    color: black;
    width: 200px;
    padding-top: .5%;
    border-radius: 20px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;

}
.snaks-bttn button:hover{
    background-color: rgb(75, 198, 239);
    border: none;
    box-shadow: 1px 1px 7px rgba(46, 130, 157, 0.832);
    color: white;
}
.snack-item{

    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}
.s-item{
    display: flex;
    gap: 5%;
    align-items: center;
}
.snack-btn button{
    height: 30px;
    width: 80px;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    color: rgb(207, 38, 38);

}
.snack-btn button:hover{
    background-color: rgb(75, 198, 239);
    color: white;
    border: none;
}
.quantity{
    text-align: center;
}
.quantity i{
    color: rgb(75, 198, 239);
}
.parking{
    text-align: center;
}
.byp{
    line-height: 0px;
}
.p-charges{
    margin-top: -7%;
    display: flex;
    justify-content: space-between;
}
.p-charges p{
    width: fit-content;
}
.parking-rate{
    display: flex;
    padding-bottom: .9%;
    box-shadow: 0px 3px 3px 0px rgba(128, 128, 128, 0.575) ;
    justify-content: space-evenly;
}
.parking-type i{
    font-size: 25px;
    padding-top: 32%;
}
.parking-type button{
    height: 25px;
    width: 100%;
    padding: .5%;
    font-size: 13px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.book-btn{
    margin-top: 3%;
}
.book-btn button{
    height: 40px;
    width: 100%;
    padding: .5%;
    font-size: 20px;
    border-radius: 20px;
    background-color:rgb(75, 198, 239);
    border: none;
    color: white;
}
/*--------------snacks end-------------------*/
}